/People who had traumatic childhoods, what's something you do as an adult that you hadn't realised was a direct result of the trauma  [Serious] [NSFW]
/praw.ini
/sample.mp4
/sample_Trim.mp4
/spliced_gameplay.mp4
/The Big Reddit Blackout of 2023
/TIL Daniel Suhr, who was responding to the 9 11 attacks on the World Trade Center, was the first firefighter killed in the attacks. He was hit by a falling body
/What type of human behavior will you never understand
/You meet your 13 year old self, but can only tell them 3 words, what do you say and why